h1, h2, h3 {
    text-align: center;
    font-family: monospace;
}
li {
    text-align: left;
    font-family: monospace;
}
.head {
    font-size: 4em;
    margin-bottom: 0px;
}
hr {
  margin: 20px; 
  width: 100%; 
  height: 2px; 
  border: none;
  background-color: #000;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(138, 228, 255);
}

#word-grid {
    border: 2px solid black;
    padding: 1vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1vw;
    row-gap: 1.5vw;
    width: 90%;
    max-width: 400px;
    background-color: rgb(149, 204, 255);
    /* margin-top: 20px; */
}

.letter{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(77, 77, 77);
    /* padding: 1em; */
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: clamp(0.8rem, 5vw, 2.5rem);

}

#retry-btn {
    visibility: hidden;
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    font-family: monospace;
    font-size: 2em;
}

#start-btn {
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    font-family: monospace;
    font-size: 2em;
}
